<!doctype html>
<html>
    <% include ../includes/head %>
    <body>

        <% include ../includes/header %>

        <div class="container">

			<ul class="main-nav nav nav-tabs">
				<li class="active">
					<a href="#tab1">Home</a>
				</li>
				<li>
					<a href="/compete">Compete</a>
				</li>
				<li>
					<a href="/browse">Browse</a>
				</li>
				<li>
					<a href="/settings">Settings</a>
				</li>
			</ul>

			<div class="row">
				<div class="span12">
					This is game board: <%= id %>
				</div>
			</div>
		</div>

        <% include ../includes/footer %>
	</body>
</html>