<!doctype html>
<html>
	<head>
		<title>Warshark</title>
		<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>

	<body>

		<header>
			Warshark
		</header>

		<div class="container">
			
			<ul class="main-nav nav nav-tabs">
				<li class="active">
					<a href="#tab1">Home</a>
				</li>
				<li>
					<a href="/compete">Compete</a>
				</li>
				<li>
					<a href="/browse">Browse</a>
				</li>
				<li>
					<a href="/settings">Settings</a>
				</li>
			</ul>

			<div class="row">
				<div class="span12">
					This is game board: <%= id %>
				</div>
			</div>
		</div>

		<script src="/js/libs/bootstrap.min.js"></script>
		<script src="/js/libs/lodash.js"></script>
		<script src="/js/libs/angular.js"></script>
		<script src="/js/game-board.js"></script>
	</body>
</html>