<!doctype html>
<html>
	<head>
		<title>Warshark</title>
		<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>

	<body>

		<header>
			Warshark
		</header>

		<div class="container">
			<div class="span4 offset4">
				
				<div class="login-box">
					<form method="GET" action="/home">
						<div class="field">
							<label for="handle">Handle/email: </label>
							<input type="text" />
						</div>
						<div class="field">
							<label for="password">Password: </label>
							<input type="password" />
						</div>
						<button class="btn btn-success">Login</button>
					</form>
				</div>

			</div>
		</div>

		<script src="/js/libs/bootstrap.min.js"></script>

	</body>
</html>