<!doctype html>

	<head>
		<title>Warshark</title>
		<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/map-maker.css" />
	</head>

	<body ng-app="Mapmaker">

		<header>
			Warshark
		</header>

		<div class="container">
			
			<ul class="main-nav nav nav-tabs">
				<li class="active">
					<a href="#tab1">Home</a>
				</li>
				<li>
					<a href="/compete">Compete</a>
				</li>
				<li>
					<a href="/browse">Browse</a>
				</li>
				<li>
					<a href="/settings">Settings</a>
				</li>
			</ul>

			<div ng-controller="MapmakerCtrl" id="map-controls">
				<div class="well">

					<form enctype="multipart/form-data" id="map-form" class="form-horizontal" method="post">
						<div class="row">
						<div class="span3">
							<h4>Map Info</h4>
						</div>
						<div class="span3">
							<div class="control-group submit"> 
								<input id="map-name" ng-model="mapName" value="Map Name" type="text" />
							</div>
						</div>
						<div class="span3">
							<input type="file" id="map-file" name="uploaded-map" />
						</div>
						<div class="span2">
							<div class="form-horizontal">

								<div class="control-group submit"> 
									<button id="save" save-enabled="true">Save Map</button>
								</div>
		<!-- 
								<div class="control-group submit"> 
									<input type="submit" id="submit" ng-click="save()"/>
								</div> -->

							</div>
						</div>
					</div>
					</form>
				</div>
				<div class="well">
					<div class="row">
						<div class="span3">
							<h4 class="">Add a Node</h4>
							<a accordian="true" href="#" class="info-link"> huh?</a>
							<div class="info-hidden info">
								<div class="drop-wrapper">
									<div class="form-horizontal">
										<p>Add a node and drag and drop for map position.<p>
										<p>Connect the node endpoints (green) to say what nodes can attack what! zomg</p>
									</div>
								</div>
							</div>
						</div>
						<div class="span3">
							<div class="control-group"> 
								<div class="control-group"> 
									<input node-required="true" type="text" ng-model="activeNodeName" class="medium active-node-name" />
									<label class="checkbox assign-name" class="info-link">
										<!-- <input type="checkbox" id="assign-name" /> <a href="#" accordian="true" >Assign Node Name</a> 
										<div class="form-horizontal info-hidden info">
											<div class="drop-wrapper">
												When this is checked, any node you click will be assigned this node name
											</div>
										</div> -->
									</label>
								</div>
							</div>
						</div>
						<div class="span3">
							
							<a href="#" region-toggle="true">Selected region:</a> <label>{{activeRegionName}} {{activeRegionBonus}}</label>
								
						</div>
						<div class="span2">
							<div class="control-group"> 
								 
								<button id="add-node" ng-click="addNode()">Add Node</button>
							
							</div>
						</div>
					</div>
				</div>
				
				<div class="well">
					<div class="row">
						<div class="span3">
							<h4><a href="#" region-toggle="true">Selected region</a></h4>

							<a href="#" accordian="true" class="info-link">What am I doing?</a>

							<div class="info-hidden info region-hidden">
								<div class="drop-wrapper">
									
									<p>
										Any added node will inherit the selected region info to the right!</p>
									<p>
										Changing this region's name or bonus will update nodes associated with that region (hover over a node if you need to remember what it's assoiated with).</p>
									<p>
										As you add regions, it will be added to the <a region-toggle="true" href="#">region well</a> on the bottom of your screen.
									</p>
								</div>
							</div>
						</div>
						<div class="span3">
							
							<div class="control-group"> 
								<input region-required="true" type="text" ng-model="activeRegionName" ng-change="updateRegionName()" class="medium active-region-name" /><!-- <label>Region Name</label> -->

								<label class="checkbox assign-region">
									<input type="checkbox" id="assign-regions" region-toggle="true" /><a accordian="true" href="#" class="info-link">Assign Regions</a>
									<div class="info-hidden info">
										<div class="drop-wrapper">
											When this is checked, any node you click will be assigned the selected region in region well.
										</div>
									</div>
								</label>
							</div>
								
						</div>
						<div class="span3">
							<div class="control-group"> 
								<input region-required="true" type="number" min="0" ng-model="activeRegionBonus" ng-change="updateRegionBonus()" class="active-region-bonus small" /><label>Unit bonus</label>
							</div>
						</div>
						<div class="span2">
							<button id="add-region" region-toggle="true" ng-click="addRegion()">Add Region</button>
						</div>
					</div>
				</div>
				<div class="row closed" id="regions-wrapper">
					<div class="span12 region-sticky">
						<div class="span3 region-toggle">
							<label class="region-label">
								<button region-toggle="true">Toggle Regions</button>
							</label>
						</div>
					
						<div class="drop-wrapper">
							<ul class="regions">

								<li ng-repeat="region in regions" class="region span3" ng-click="updateRegionFieldName(); updateRegionFieldBonus()">
									<div region-editable="true">
										Bonus: <label class="region-bonus">{{region.bonus}}</label>
									</div>

									<span class="hidden">
										<input id="jscolor{{$index}}">
									</span>
									
									<input class="region-color" id="jscolorPicker{{$index}}"></input>
									<label class="region-name">{{region.name}}</label>
									
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- <div class="span12">
						<div class="form-horizontal">

							<label class="checkbox assign-region">
								<input type="checkbox" id="assign-region" /> Assign Regions 
							</label>

						</div>

						<div class="form-horizontal">
							When this is checked, any node you click will be assigned the selected region
						</div>
						
					</div> -->
				</div>
				<div class="row">
					<div class="span12">
						<div id="map" style="background-image:url(/img/marshmellow-map.png); background-size:100% auto">
								
							<div node-editable="true" ng-repeat="node in nodes" tool-tip="true" class="node" id="node{{node.id}}" ng-mouseup="upDatePosition(node.id);" ng-mouseover="wirePlumbPoints(node.id); showPlumbPoints(node.id)" ng-mouseout="hidePlumbPoints()">
								{{node.id}}
								<div class="tool-tip">
									<label>Node Name: <input id="node-name{{node.id}}" type="text" ng-model="node.name" /></label>
									<label>Region Name: {{node.regionName}}</label>
									<label>Region Bonus: {{node.regionBonus}}</label>
								</div>
							</div>
							
						</div>
					</div>
				</div>

			</div>

			<div class="row hidden">
				<div class="span12">
					Example:
					<img width="600" src="/img/map-maker-regioun-config.png" />
				</div>
			</div>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
		<script src="/js/libs/bootstrap.min.js"></script>

		<script src="/js/helpers/file.js"></script>

		<script src="/js/libs/lodash.js"></script>
		<script src="/js/libs/angular.js"></script>
		<script src="/js/libs/angular-resource.js"></script>

		<script src="/js/libs/jscolor/jscolor.js"></script>
		<script src="/js/libs/jquery.jsPlumb-1.3.16-all-min.js"></script>
		<script src="/js/libs/jquery-collidesWith-1.1.js"></script>

		<script src="/js/map-maker.js"></script>
	</body>
</html>