<!doctype html>
<html>
<% include ../includes/head %>
<body>

<% include ../includes/header %>

<div class="container">
    <div class="h4">
        <%= req.user.name %>
    </div>
</div>

<% include ../includes/footer %>

</body>
</html>