<!doctype html>
<html>
<head>
    <title>Warshark</title>
    <link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>

<header>
    Warshark
</header>

<div class="container">
    <br />

    <h3>HTTP Error 500</h3>
    <p>
        <strong>Oops something went wrong</strong>
    </p>
    <p>
        The page must be off in Chicago, or working at Etsy or something...
        <br />
        <a href="/">Get me out of here!</a>
    </p>

</div>

<script src="/js/libs/bootstrap.min.js"></script>
</body>
</html>