<!doctype html>
<html>

    <% include ../includes/head %>

	<body>
    <% include ../includes/header %>


    <div class="container">
			
			<ul class="main-nav nav nav-tabs">
				<li class="active">
					<a href="#tab1">Home</a>
				</li>
				<li>
					<a href="/compete">Compete</a>
				</li>
				<li>
					<a href="/browse">Browse</a>
				</li>
				<li>
					<a href="/settings">Settings</a>
				</li>
			</ul>

			<div class="row">
				<div class="span9">
					<% if( games.length > 0 ) { %>
						<table class="table-striped table">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Stage</th>
								</tr>
							</thead>

							<% for (var i = 0; i < games.length; i++) { %>
								<tr>
									<td><%= i+1 %></td>
									<td>
										<a href="/game/<%= games[i].id %>">
											<%= games[i].title %>
										</a>
									</td>
									<td>
										<!-- <span class="text-error">[Turn in-progress]</span> -->
										<%= games[i].status %>
									</td>
								</tr>
							<% } %>
						</table>
					<% } else { %>
						<p>You don't have any games, why not <a href="#">start one</a>?
					<% } %>
				</div>
				<div class="span3">
					<div class="start-a-game">
						<a href="/game/6" class="btn-large btn-success">Start a game</a>
					</div>

					<div class="game-stats">
						<strong>Hey Bill Murray!</strong><br />
						Your turn in 0 games <br />
						You have 0 tournament invites <br />
						1 unreviewed boards <br />
						Your profile has 0 comments
					</div>
				</div>
			</div>
		</div>

    <% include ../includes/footer %>

	</body>
</html>