<!doctype html>
<html>
    <% include ../includes/head %>


    </head>

	<body>

    <% include ../includes/header %>


    <div class="container">
			<div class="span4 offset4">
				
				<div class="login-box">
					<form method="GET" action="/home">
						<div class="field">
							<label for="handle">Handle/email: </label>
							<input type="text" />
						</div>
						<div class="field">
							<label for="password">Password: </label>
							<input type="password" />
						</div>
						<button class="btn btn-success">Login</button>
					</form>
				</div>

			</div>
		</div>

    <% include ../includes/footer %>

	</body>
</html>