<!doctype html>

    <% include ../includes/head %>

	<body ng-app="Mapmaker">

    <% include ../includes/header %>


		<div class="container">
			
			<ul class="main-nav nav nav-tabs">
				<li class="active">
					<a href="#tab1">Home</a>
				</li>
				<li>
					<a href="/compete">Compete</a>
				</li>
				<li>
					<a href="/browse">Browse</a>
				</li>
				<li>
					<a href="/settings">Settings</a>
				</li>
			</ul>

			<div class="row" ng-controller="MapmakerCtrl">
				<div class="span3">
					<form enctype="multipart/form-data" id="map-controls" class="form-horizontal" method="post">
						
						<input type="file" id="map-file" name="uploaded-map" />
						<div class="control-group"> 
							<button id="add-node" ng-click="addNode()">Add Node</button>
						</div>
						<div class="form-horizontal map-section">
							
							<div class="control-group"> 
								<input input-required="true" type="text" ng-model="activeRegionName" ng-change="updateRegionName()" class="medium" /><label>Region Name</label>
							</div>

							<div class="control-group"> 
								<input input-required="true" type="number" min="0" ng-model="activeRegionBonus" ng-change="updateRegionBonus()" class="small" /><label>Unit bonus</label>
							</div>

							<button id="add-region" ng-click="addRegion()">Add Region</button>
							

							<label class="checkbox assign-regions">
								<input type="checkbox" /> Assign Regions 
							</label>
							
							<ul class="regions">

								<li ng-repeat="region in regions" class="region" ng-click="updateRegionFieldName()">
									<div region-editable="true">
										{{region.id}}
										{{region.color}}
									</div>

									<span class="hidden">
										<input id="jscolor{{$index}}">
									</span>
									
									<input class="region-color" id="jscolorPicker{{$index}}"></input>
									<label class="region-name">{{region.name}}</label>
									<label class="region-bonus">{{region.bonus}}</label>

								</li>
							</ul>
						</div>
						<div class="control-group"> 
							<input type="submit" id="submit" />
						</div>
						
					</form>
				</div>

				<div class="span9">
					<div id="map" style="background-image:url(/img/level4.jpg);background-size:600px auto">
							
						<div ng-repeat="node in nodes" class="node" id="node{{node.id}}" ng-mouseup="upDatePosition(node.id);" ng-mouseover="wirePlumbPoints(node.id); showPlumbPoints(node.id)" ng-mouseout="hidePlumbPoints()">
							{{node.id}}
						</div>
						
					</div>
				</div>

			</div>

			<div class="row hidden">
				<div class="span12">
					Example:
					<img width="600" src="/img/map-maker-regioun-config.png" />
				</div>
			</div>
		</div>

    <% include ../includes/footer %>
	</body>
</html>